In [1]:
#1. DIFFERENCE BETWEEN A FUNCTION AND A METHOD IN PYTHON
#Functions are independent block of code that can be called from anywhere where as methods are ties to objects or classes
#Functions promote code reusability , while methods offer behaviour specific to objects.
#Functions are called by names whereas methods are accessed using dot notation
#function is a block of code which performs some specifc task
#FUNCTION EXAMPLE
def greetings():
    return("hello, how are you ?")

In [2]:
greetings()

'hello, how are you ?'

In [3]:
#2. CONCEPT OF FUNCTION ARGUMENTS AND PARAMETERS
#Iformation can be passed into functions as arguments.
#Arguments are specified after the function name , inside the paranthesis.
#We can add as many arguments as we want , just separate them commas.
#for example
def greetings():
    return("how are you ?")

In [4]:
greetings()#here if u have to welcome a lot of people then you hav to write the argument again and again.

'how are you ?'

In [5]:
#Instead of this you can simply write
def greetings(name):
    return("how are you ?" , name)

In [6]:
greetings("sharon")

('how are you ?', 'sharon')

In [7]:
greetings("aman")

('how are you ?', 'aman')

In [9]:
#here we can call as many arguments as we want 
def greetings(name , place):
    return("how are you" , name, "from", place)

In [10]:
greetings("sharon" , "jhansi")

('how are you', 'sharon', 'from', 'jhansi')

In [11]:
##DEFAULT ARGUMENT
#it works when the variable in a function has no value.
#it passed to a function in the last
#for example
def marks(a , b = 0):
    return a+b

In [12]:
marks(5)

5

In [13]:
def sum(a , b, c=0):
    return a+b+c

In [14]:
sum(4,5)

9

In [15]:
#3. WAYS OF DEFINING A FUNCTION 
#(i) The first step is to use a python keyword "def" then write the name of the function
#(ii) The second step is to write the argument
#(iii) The third step is to write the body of the function. it means whatever computation you have to do
#(iv) The last step is to use the return keyword so that you receive the value as it is , in inverted commas
#for example
def students(name , marks):
    return(name , "has scored", marks)

In [16]:
students("sharon" , 90)

('sharon', 'has scored', 90)

In [17]:
students("aman" , 80)

('aman', 'has scored', 80)

In [18]:
students("sofia" , 70)

('sofia', 'has scored', 70)

In [19]:
# 4. PURPOSE OF RETURN FUNCTION
#When you use 'print' in function then it just prints the value without the inverted commas 
#But when you use return in python the it gives the value in the same way u write it in a function
#it returns any value such as strings, integer, float, complex.
#you cannot concatenate a function without using return
#for example
def assign():
    print("I am sharon")

In [20]:
assign()

I am sharon

In [21]:
assign() + "francis"

I am sharon

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [22]:
##now when u use return
def assign():
    return("I am sharon")

In [23]:
assign()

'I am sharon'

In [24]:
assign() + " "  "francis"

'I am sharon francis'

In [25]:
# 5. ITERATORS
#It is an object which represents a stream of data
#it returns the data one by one
#it can iterate over iterable objects such as lists , tuples , dictionary and sets

#ITERABLES
#It is any python object or sequencial structure or data structure that is capable of returning its members one at a time
#it gives the element one by one
#iterable objects such as lists , tuples , dictionary , sets
#for example
list = [1 , 2,  3 ,"sharon" , "aman" , "sofia"]

In [26]:
list

[1, 2, 3, 'sharon', 'aman', 'sofia']

In [27]:
for i in list:
    print(i)

1
2
3
sharon
aman
sofia

In [28]:
#6. GENERATORS
#It is a function thata returns an iterator using 'yeild' keyword
#it does not return the valule in one go
#it generates the result one by one which does not result in more usage of memory
#it does not take a lot of time for computation
#for example
def square(n):
    result = []
    for i in range (n):
        result.append(i**2)
    return result

In [29]:
square(10)#here the regular function is providing the result in one go.

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
##but when we use generator function
def square(n):
    for i in range (n):
        yield(i**2)

In [31]:
square(10)

In [32]:
gen = square(10)

In [33]:
gen

In [34]:
next(gen)

0

In [35]:
next(gen)

1

In [36]:
next(gen)

4

In [37]:
next(gen)

9

In [38]:
#7. ADVANTAGES OF USING GENERATOR FUNCTIONS 
#without generators in python, producing iteratables is very difficult and lengthy
#memory is saved as result is produce one at a time unlike regular functions in python
#generators do not take a lot of time for computation , unlike regular functions which use a lot of memory and time
#regular functions produce the result in one go whereas genefator function produces the result one by one
#for example
def sum(a):
    result = []
    for i in range(a):
        result.append(i+3)
    return result

In [39]:
sum(20)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [40]:
def sum(a):
    for i in range(a):
        yield(i+3)

In [41]:
sum(20)

In [42]:
s = sum(20)

In [43]:
s

In [44]:
next(s)

3

In [45]:
next(s)

4

In [46]:
next(s)

5

In [47]:
#8. LAMBDA FUNCTION
#It is also known as anonymous or short hand function
#In lambda function we don't need the 'return' statement and 'def' keyword
#It converts the function of 2 lines into 1 line function that is why is it called short hand function
#syntax:
#lambda arguments:expressions
#for example
def sum(n):
    return(n+5)

In [48]:
sum(9)

14

In [49]:
##now usig lambda function
sum_lambda = lambda n: n+5

In [50]:
sum_lambda(19)

24

In [51]:
#for example
list1 = ["sharon" , "aman" , "sofia" , "allen"]
list1

['sharon', 'aman', 'sofia', 'allen']

In [52]:
list1 = lambda list1: len(list1)

In [53]:
list1("sharon")

6

In [54]:
list1("allen")

5

In [55]:
#9. MAP FUNCTION
#It executes a specified function for each of the item of an iterable
#it takes the iterables and the custom function as input and apply it to each of the element of the iterable
#syntax
#map(function , iterables)
#we can pass one or more iterable to the map function
#for example

def square(a):
    sq = []
    for i in a:
        sq.append(i**2)
    return sq
a = [1 , 2 , 3, 4 , 5]

In [56]:
square(a)

[1, 4, 9, 16, 25]

In [57]:
#now using the map function
l = [1 ,2, 3 , 4, 5]
def add(x):
    return x+10

In [58]:
map(add ,l)

In [59]:
a = map(add,l)

In [60]:
next(a)

11

In [61]:
next(a)

12

In [62]:
next(a)

13

In [63]:
#10. DIFFERENCE BETWEEN MAP , REDUCE AN DFILTER ELEMENTS
#MAP - It executes a specified function for each of the item of an iterable
#it takes the iterables and the custom function as input and apply it to each of the element of the iterable
#syntax
#map(function , iterables)
#we can pass one or more iterable to the map function
#for example

def square(a):
    sq = []
    for i in a:
        sq.append(i**2)
    return sq
a = [1 , 2 , 3, 4 , 5]

In [64]:
square(a)

[1, 4, 9, 16, 25]

In [65]:
#now using the map function
l = [1 ,2, 3 , 4, 5]
def add(x):
    return x+10

In [66]:
map(add ,l)

In [67]:
a = map(add , l)

In [68]:
next(a)

11

In [69]:
next(a)

12

In [70]:
##REDUCE - it means folding or reducing
#it is not a python keyword so you have to import it from a library
#syntax:
#reduce(func ,iterables)
#it will always take 2 argument function
#for example
l = [2 , 3,  4, 5, 6,7]
reduce(lambda x, y : x+y , l)

NameError: name 'reduce' is not defined

In [71]:
##FILTER- it is used to filter elements from an iterable based on some condition
#syntax
#filter(func , iterables)
#for example
l = [1 , 2 , 3 , 4, 5 , 6, 7, 8, 9 , 10]
filter(lambda x : x%2 == 0 , l)

In [72]:
a = filter(lambda x : x%2 == 0 , l)

In [73]:
next(a)

2

In [74]:
next(a)

4

In [75]:
next(a)

6